.editor{
    textAlign: left;
    width: 100vw;
    height: 70vh;
    background: #f9f9f9;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
}
.node{
    background: #52525D;
    border: 7px solid #00ff9c;
    border-radius: 13px;
    box-shadow: 1px 1px 9px #0000002e;
}
.node:hover{
    /* transition: .05s box-shadow ease; */
    background: #52525D;
    /* border: 7px solid #fff200;
    box-shadow: 0px 0px 20px #fff03b; */
    box-shadow: 0px 0px 20px #00d472;
}

.node.selected {
    /* transition: .25s box-shadow ease-in; */
    background: #52525D;
    border-color: #ff1469;
    /* box-shadow: 4px 4px 20px #00000078; */
    /* animation: pulse 2000ms ease-in-out infinite both; */
    box-shadow: 0px 0px 20px #ff008da6;
}

.connection .main-path{
    stroke-width: 5px;
    stroke: #3591fb;
}

/* @keyframes pulse { 
    0% { border-color: #0984e3; }
    50% { border-color: #74b9ff; }
    100% { border-color: #0984e3; } 
} */

.socket{
    border: 6px solid #3591fb;
    background: #ffffff;
    margin-top: -4px;
    transition: .05s all ease-in;
}
.socket:hover{
    border: 8px solid #3591fb;
    transform:scale(1.1);
}
.socket.input {
    margin-left: -13px;
    margin-top: -7px;
}

.start{
    min-width: 77px;
}