.editor{
    text-align: left;
    width: 100%;
    height: 70vh;
    background: #f9f9f9;
    border: 1px solid #e4e4e4;
    box-sizing: border-box;
}
.node{
    background: #52525D !important;
    border: 7px solid #00ff9c !important;
    border-radius: 13px !important;
    box-shadow: 1px 1px 9px #0000002e !important;
}
.node:hover{
    background: #52525D !important;
    box-shadow: 0px 0px 20px #00d472 !important;
}

.node.selected {
    background: #52525D !important;
    border-color: #ff1469 !important;
    box-shadow: 0px 0px 20px #ff008da6 !important;
}

.connection .main-path{
    stroke-width: 5px !important;
    stroke: #3591fb !important;
}

/* @keyframes pulse { 
    0% { border-color: #0984e3; }
    50% { border-color: #74b9ff; }
    100% { border-color: #0984e3; } 
} */

.socket{
    border: 6px solid #3591fb !important;
    background: #ffffff !important;
    margin-top: -4px !important;
    transition: .05s all ease-in !important;
}
.socket:hover{
    border: 8px solid #3591fb !important;
    transform:scale(1.1) !important;
}
.socket.input {
    margin-left: -13px !important;
    margin-top: -7px !important;
}

.start{
    min-width: 77px !important;
}
