body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea{
  resize: vertical;
}

.main-container{
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* .game{
  padding: 20px;
  max-width: 1200px;
  margin: auto;
} */

.creation-personnage{

}
.creation-personnage > div{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.block{
  width: 250px;
  padding: 10px;
  filter: drop-shadow(1px 1px 5px #0000004f);
  background-color: rgb(240, 240, 240);
  border-radius: 3px;
  margin: 15px;
}

.blockTitle{
  display: flex;
  flex-flow: column;
}

.choixContainer{
  display: flex;
  flex-direction: column;
  filter: drop-shadow(1px 1px 2px #00000028);
  background-color: rgb(232, 232, 232);
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 11px;
  border: solid 1px #0000001a;
}

.choixContainer > button {
  margin: auto;
  margin-top: 8px;
  width: 50%;
}

.game-board{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.navBar{
  background-color: #444444;
  display: flex;
  padding: 0px 37px;
  margin: 0;
  list-style-type: none;
}

.navBar > li {
  padding: 20px;
  font-weight: 500;
  transition: all .03s ease;
}

.navBar > li:hover {
  background-color: #696969;
}

.navBar > li > a {
  text-decoration: none;
  color: white;
}