body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea{
  resize: vertical;
}

.block{
  width: 350px;
  padding: 10px;
  filter: drop-shadow(1px 1px 5px #0000004f);
  background-color: rgb(240, 240, 240);
  border-radius: 3px;
  margin: 15px;
}

.blockTitle{
  display: flex;
  flex-flow: column;
}

.choixContainer{
  display: flex;
  flex-direction: column;
  filter: drop-shadow(1px 1px 2px #00000028);
  background-color: rgb(217, 214, 214);
  padding: 8px;
  border-radius: 3px;
  margin-bottom: 11px;
  border: solid 1px #0000001a;
}

.game-board{
  display: flex;
  flex-direction:row;
}